body{
    background-color: bisque;
}
:where(.container, form, .inputfield){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
}
.holder{
    margin-top: 120px;
    height:400px;
    width: 400px;
    background-color: blanchedalmond;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 65px;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.2),
                -10px -10px 50px rgba(0,0,0,0.2);
}

.input-field input{
    margin-top: 30px;
    font-size: larger;
    height: 45px;
    width: 42px;
    outline: none;
    text-align: center;
}
.input-field input::-webkit-inner-spin-button, .input-field input::-webkit-outer-spin-button{
    display: none;    
}
button{
    margin-top: 40px;
    height: 30px;
    width:150px;
    border: 1px solid rgba(88, 86, 86, 0.377);
    border-radius: 15px;
    background-color: snow;
    cursor: pointer;
    transition: all ease-in-out 0.2;
}
button:hover{
    background-color: bisque;
}
button:active{
    background-color: rgb(252, 219, 170);
}